@using Microsoft.AspNetCore.Http
@model IEnumerable<SiteMVC.Produit>

@{
    ViewData["Title"] = "SeeCart";
    decimal totalPrix = 0, poids = 0, total;
}
<h1>SeeCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th>
                <p>Quantité<p />
            </th>
            <th>
                <p>Sous-total</p>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            int quantite = (int)ViewData[item.Id.ToString()];
            decimal sousTotal = quantite * item.PrixUnitaire;
            totalPrix += sousTotal;
            poids += (decimal)item.Poids;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixUnitaire)
                </td>
                <td>
                    <p>@ViewData[item.Id.ToString()]</p>
                </td>
                <td>
                    <p>@sousTotal</p>
                </td>
                <td>
                    <!--TODO : changer en Ajax !-->
                    <form method="post" asp-action="Edit" asp-controller="Panier" asp-route-id="@item.Id">
                        <div asp-validation-summary="All"></div>
                        <div class="form-field">
                            <input type="number" min="1" max="@item.Stock" id="quantite" name="quantite" required value="@quantite" />
                        </div>
                        <div class="form-field">
                            <input type="submit" value="Changer la quantite" />
                        </div>
                    </form>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Changer la quantité</a> |*@
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Panier" asp-route-id="@item.Id">Annuler la commande de cet objet</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Tirelires" asp-route-id="@item.Id">Voir la page de l'objet</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <p>Total de la commande : @totalPrix euros</p>
    @{
        int fraisLivraison = (int)(totalPrix / (decimal)1.5) * 3;
        total = totalPrix + fraisLivraison;
    }
    <p>Frais de livraison : @fraisLivraison euros </p>
    <p>Total à payer : @total euros</p>
</div>
<div>
    @if (!User.Identity.IsAuthenticated) {
        // TODO : mise en forme des boutons
        <p>Vous devez <a class="nav-link text-dark" data-toggle="modal" data-target="#registerModal">créer un compte</a> ou vous <a class="nav-link text-dark" data-toggle="modal" data-target="#loginModal">identifier</a> pour commander.</p>
    }
    else if (User.IsInRole("User")) {
        <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="Validate" asp-route-total="@total">Valider la commande</a>
    }
    else {
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
    }
</div>

