@using Microsoft.AspNetCore.Http
@model IEnumerable<SiteMVC.Produit>

@{
    ViewData["Title"] = "SeeCart";
    decimal total = 0;
}
<!--TODO : suppression et modification des objets et des quantités-->
<h1>SeeCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th>
                <p>Quantité<p />
            </th>
            <th>
                <p>Sous-total</p>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            int quantite = (int)ViewData[item.Id.ToString()];
            decimal sousTotal = quantite * item.PrixUnitaire;
            total += sousTotal;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixUnitaire)
                </td>
                <td>
                    <p>@ViewData[item.Id.ToString()]</p>
                </td>
                <td>
                    <p>@sousTotal</p>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <p>Total de la commande : @total euros</p>
</div>
<div>
    @if (!User.Identity.IsAuthenticated) {
        <p>Vous devez <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">créer un compte</a> ou vous <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">identifier</a> pour commander.</p>
    }
    else if (User.IsInRole("User")) {
        <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="Validate" asp-route-total="@total">Valider la commande</a>
        <!--TODO : formulaire de création de client comme View Component ou vue partielle ici !-->
    }
    else {
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
    }
</div>

