@model SiteMVC.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCommande)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLivraison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLivraison)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Model.IdAdresseNavigation.ToString()
        </dd>
        <dt class="col-sm-2">
            Mail du client
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.Mail)
        </dd>
        <dt class="col-sm-2">
            Statut commande
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdStatutNavigation.Nom)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @if (User.IsInRole("Administrator")){
    <a asp-action="Index">Back to List</a>
    }
    @if (User.IsInRole("User")){
    <a asp-action="IndexClient">Back to List</a>
    }
</div>
