@model SiteMVC.Produit

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixUnitaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hauteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hauteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longueur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longueur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategorieNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategorieNavigation.Nom)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCouleurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCouleurNavigation.Nom)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFabricantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFabricantNavigation.Nom)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFournisseurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFournisseurNavigation.Nom)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
