@model SiteMVC.Produit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Nom)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixUnitaire) euros
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hauteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hauteur) cm
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longueur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longueur) cm
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largeur) cm
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poids) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poids) kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacite) pièces
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
            </dd>
    </dl>
</div>
<div class="photo-display">
    @*A changer ?*@
    <button type="button" data-toggle="modal" data-target="#modalPhoto"><img class="photo-display-img" src="@ViewBag.Photo" /></button>               @*Classe ?*@

    <!-- Modal -->
    <div id="modalPhoto" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <img class="photo-display-img" src="@ViewBag.Photo" />
                </div>
            </div>
        </div>
    </div>

    @*la modale appelée par le trigger*@

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
