<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Tirelires" asp-action="Index">Galerie</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <!--TODO : changer l'affichage de login/logout ? -->
                        <!--TODO : permettre aux admins de Register des Users, Admin, Managers... -->
                        @if (!User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" data-toggle="modal" data-target="#loginModal">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" data-toggle="modal" data-target="#registerModal">Register</a>
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" asp-route-redirectUrl="@Url.PageLink()">Register</a>*@
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated) {
                            <li class="nav-item">Bonjour @User.Identity.Name</li>
                            @if (User.IsInRole("Administrator")) {
                                <li class="nav-item">Statut : Administrateur</li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Index">Photos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Catégories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Fournisseurs" asp-action="Index">Fournisseurs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Fabricants" asp-action="Index">Fabricants</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Couleurs" asp-action="Index">Couleurs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="Index">Commandes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clients</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="TopClients">Top 5 clients</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tirelires" asp-action="DeactivatedList">Produits désactivés</a>
                                </li>
                            }
                            @if (User.IsInRole("User")) {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="IndexClient">Commandes</a>
                                </li>
                            }
                            @if (User.IsInRole("Moderator")) {
                                <li class="nav-item">Statut : Moderateur</li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Avis" asp-action="Index">Liste des avis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Avis" asp-action="AttenteModeration">Avis à modérer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Avis" asp-action="Index">Avis</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-redirectUrl="@Url.PageLink()">Log out</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="TopProduits">Top 5 produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Panier" asp-action="SeeCart">Panier</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    @*@await Html.PartialAsync("_LoginPartial")*@
                    @await Component.InvokeAsync("Login")
                </div>
            </div>
        </div>
    </div>
    <div id="registerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    @await Component.InvokeAsync("Register")
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SiteMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~\node_modules\popper.js\dist\popper.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
